.news
  word-wrap: break-word

.modalImg
  border-radius: 5px
  cursor: pointer
  transition: 0.3s
  &:hover
    opacity: 0.7

.modal
  display: none
  position: fixed
  z-index: 1
  padding-top: 100px
  left: 0
  top: 0
  width: 100%
  height: 100%
  overflow: auto
  background-color: rgb(0,0,0)
  background-color: rgba(0,0,0,0.9)

.modal-content
  margin: auto
  display: block
  width: 80%
  max-width: 700px
  @media only screen and (max-width: 700px)
    width: 100%
